# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore exe
*.exe

### Above combination will ignore all files without extension ###

# dependencies
/vendor

# mac
.DS_store

agb.sh